<!--
  Author: W3layouts
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
-->
<% provide :title, "Home" %>

<!DOCTYPE html>
<html>

<head>
  <title>Hewller International, Inc. - An international company in Taiwan specialized in trading, sales & marketing, multi lingual website building, web design, advertisement, supplier sourcing, consulting, translation, etc.</title>

  <!--/tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Hewller International, Inc. - An international company in Taiwan specialized in trading, sales & marketing, multi lingual website building, web design, advertisement, supplier sourcing, consulting, translation, etc." />
  <script type="application/x-javascript">
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--//tags -->
  <link href="assets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="assets/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="assets/prettyPhoto.css" rel="stylesheet" type="text/css" />
  <link href="assets/font-awesome.css" rel="stylesheet">
  <!-- //for bootstrap working -->
  <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,300,300i,400,400i,500,500i,600,600i,700,800" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
</head>

<body>
  <div class="top_header" id="home">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="nav_top_fx_w3ls_agileinfo">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= render 'partial/logo' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="nav_right_top">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to t('view.contact'), url_for(controller: :inquiry, action: :contact), :class => 'request' %></li>
            </ul>
            <ul class="nav navbar-nav">
              <!--<li class="active"><a href="/">Home</a></li>
              <li><a href="/">About</a></li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="/inquiry">Contact</a></li>-->
              <%= render 'partial/dropdown' %>
            </ul>
          </div>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </div>
  <!-- banner -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
<!--       <li data-target="#myCarousel" data-slide-to="3" class=""></li> -->
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <h3><%= t('view.carousel1h3') %></h3>
            <p><%= t('view.carousel1p') %></p>
            <!-- <div class="top-buttons">
              <div class="bnr-button">
                <a class="act" href="single.html">Read More</a>
              </div>
              <div class="bnr-button">
                <a href="portfolio.html" class="two scroll ">Portfolio</a>
              </div>
              <div class="clearfix"> </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="item item2">
        <div class="container">
          <div class="carousel-caption">
            <h3><%= t('view.carousel2h3') %></h3>
            <p><%= t('view.carousel2p') %></p>
            <!-- <div class="top-buttons">
              <div class="bnr-button">
                <a class="act" href="single.html">Read More</a>
              </div>
              <div class="bnr-button">
                <a href="portfolio.html" class="two scroll ">Portfolio</a>
              </div>
              <div class="clearfix"> </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="item item3">
        <div class="container">
          <div class="carousel-caption">
            <h3><%= t('view.carousel3h3') %></h3>
            <p><%= t('view.carousel3p') %></p>
            <!-- <div class="top-buttons">
              <div class="bnr-button">
                <a class="act" href="single.html">Read More</a>
              </div>
              <div class="bnr-button">
                <a href="portfolio.html" class="two scroll ">Portfolio</a>
              </div>
              <div class="clearfix"> </div>
            </div> -->
          </div>
        </div>
      </div>
<!--       <div class="item item4">
        <div class="container">
          <div class="carousel-caption">

            <h3>Best Business Thinking</h3>
            <p>You deserve the best</p>
            <div class="top-buttons">
              <div class="bnr-button">
                <a class="act" href="single.html">Read More</a>
              </div>
              <div class="bnr-button">
                <a href="#portfolio" class="two scroll ">Portfolio</a>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="fa fa-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="fa fa-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
  </div>
  <!--//banner -->
  <!--/ab-->
  <div class="banner_bottom">
    <div class="container">
      <h3 class="tittle-w3ls"><%= t('view.aboutus') %></h3>
      <div class="inner_sec_info_wthree_agile">
        <div class="help_full">

          <div class="col-md-6 banner_bottom_grid help">
            <img src="assets/ab.png" alt=" " class="img-responsive">
          </div>
          <div class="col-md-6 banner_bottom_left">
            <h4><%= t('view.aboutush4') %></h4>
            <p><%= t('view.aboutusp1') %></p>
            <p><%= t('view.aboutusp2') %></p>
            <p><%= t('view.aboutusp3') %></p>
            <div class="ab_button">
              <%= link_to t('view.contactus'), url_for(controller: :inquiry, action: :contact), :class => 'btn btn-primary btn-lg hvr-underline-from-left' %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="news-main">
        <div class="col-md-4 banner_bottom_left">
          <div class="banner_bottom_pos">
            <div class="banner_bottom_pos_grid">
              <div class="col-xs-3 banner_bottom_grid_left">
                <div class="banner_bottom_grid_left_grid">
                  <span class="fa fa-diamond" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-xs-9 banner_bottom_grid_right">
                <h4><%= t('view.hairh4') %></h4>
                <p><%= t('view.hairp') %></p>

              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 banner_bottom_left">
          <div class="banner_bottom_pos">
            <div class="banner_bottom_pos_grid">
              <div class="col-xs-3 banner_bottom_grid_left">
                <div class="banner_bottom_grid_left_grid">
                  <span class="fa fa-gears" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-xs-9 banner_bottom_grid_right">
                <h4><%= t('view.industrialh4') %></h4>
                <p><%= t('view.industrialp') %></p>

              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 banner_bottom_left">
          <div class="banner_bottom_pos">
            <div class="banner_bottom_pos_grid">
              <div class="col-xs-3 banner_bottom_grid_left">
                <div class="banner_bottom_grid_left_grid">
                  <span class="fa fa-laptop" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-xs-9 banner_bottom_grid_right">
                <h4><%= t('view.websiteh4') %></h4>
                <p><%= t('view.websitep') %></p>

              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--//ab-->
  <!--/what-->
<!--   <div class="works">
    <div class="container">
      <h3 class="tittle-w3ls cen">What we do</h3>
      <div class="inner_sec_info_wthree_agile">
        <div class="ser-first">
          <div class="col-md-3 ser-first-grid text-center">
            <span class="fa fa-shield" aria-hidden="true"></span>
            <h3>Unique Design</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
          <div class="col-md-3 ser-first-grid text-center">
            <span class="fa fa-pencil" aria-hidden="true"></span>
            <h3>Different Layout</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
          <div class="col-md-3 ser-first-grid text-center">
            <span class="fa fa-star" aria-hidden="true"></span>
            <h3>Portfolio Styles</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
          <div class="col-md-3 ser-first-grid text-center">
            <span class="fa fa-thumbs-up" aria-hidden="true"></span>
            <h3>User Experience</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>
  </div> -->
  <!--//what-->
  <!--/banner_bottom-->
<!--   <div class="banner_bottom">
    <div class="banner_bottom_in">
      <h3 class="tittle-w3ls we">We provide high quality and cost effective offshore web development services.</h3>

      <p>Lorem ipsum dolor sit amet, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


      <img src="assets/banner_mid.jpg" class="img-responsive" alt="">
    </div>
  </div> -->
  <!--//banner_bottom-->
  <!--/projects-->
<!--   <div class="banner_bottom proj">
    <div class="wrap_view">
      <h3 class="tittle-w3ls">Projects</h3>
      <div class="inner_sec">
        <ul class="portfolio-categ filter">
          <li class="port-filter all active">
            <a href="#">All</a>
          </li>
          <li class="cat-item-1">
            <a href="#" title="Category 1">Category 1</a>
          </li>
          <li class="cat-item-2">
            <a href="#" title="Category 2">Category 2</a>
          </li>
          <li class="cat-item-3">
            <a href="#" title="Category 3">Category 3</a>
          </li>
          <li class="cat-item-4">
            <a href="#" title="Category 4">Category 4</a>
          </li>
        </ul>


        <ul class="portfolio-area">

          <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
            <div>
              <span class="image-block img-hover">
              <a class="image-zoom" href="assets/g1.jpg" rel="prettyPhoto[gallery]">
              
                  <img src="assets/g1.jpg" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                      <h5>View Project</h5>
                      <p>Add Some Description</p>
                    </div>
              </a>
            </span>
            </div>
          </li>


          <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
            <div>
              <span class="image-block">
              <a class="image-zoom" href="assets/g2.jpg" rel="prettyPhoto[gallery]">
                
                  <img src="assets/g2.jpg" class="img-responsive" alt="Conceit">
                <div class="port-info">
                      <h5>View Project</h5>
                      <p>Add Some Description</p>
                    </div>
              </a>
            </span>
            </div>
          </li>


          <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
            <div>
              <span class="image-block">
              <a class="image-zoom" href="assets/g3.jpg" rel="prettyPhoto[gallery]">
              
                  <img src="assets/g3.jpg" class="img-responsive" alt="Conceit">
                <div class="port-info">
                      <h5>View Project</h5>
                      <p>Add Some Description</p>
                    </div>
              </a>
            </span>
            </div>
          </li>


          <li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
            <div>
              <span class="image-block">
              <a class="image-zoom" href="assets/g4.jpg" rel="prettyPhoto[gallery]">
                
                  <img src="assets/g4.jpg" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                      <h5>View Project</h5>
                      <p>Add Some Description</p>
                    </div>
              </a>
            </span>
            </div>
          </li>


          <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
            <div>
              <span class="image-block">
              <a class="image-zoom" href="assets/g5.jpg" rel="prettyPhoto[gallery]">
                
                  <img src="assets/g5.jpg" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                      <h5>View Project</h5>
                      <p>Add Some Description</p>
                    </div>
              </a>
            </span>
            </div>
          </li>


          <li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
            <div>
              <span class="image-block">
              <a class="image-zoom" href="assets/g6.jpg" rel="prettyPhoto[gallery]">
                
                  <img src="assets/g6.jpg" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                      <h5>View Project</h5>
                      <p>Add Some Description</p>
                    </div>
              </a>
            </span>
            </div>
          </li>


          <li class="portfolio-item2" data-id="id-6" data-type="cat-item-1">
            <div>
              <span class="image-block">
              <a class="image-zoom" href="assets/g7.jpg" rel="prettyPhoto[gallery]">
              
                  <img src="assets/g7.jpg" class="img-responsive" alt="Conceit">
                      <div class="port-info">
                      <h5>View Project</h5>
                      <p>Add Some Description</p>
                    </div>
              </a>
            </span>
            </div>
          </li>


          <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
            <div>
              <span class="image-block">
              <a class="image-zoom" href="assets/g8.jpg" rel="prettyPhoto[gallery]">
                
                  <img src="assets/g8.jpg" class="img-responsive" alt="Conceit">
                    <div class="port-info">
                      <h5>View Project</h5>
                      <p>Add Some Description</p>
                    </div>
              
              </a>
            </span>
            </div>
          </li>

          <div class="clearfix"></div>
        </ul> -->
        <!--end portfolio-area -->

<!--       </div>

    </div>
  </div> -->

  <!--//projects-->
  <!--/blog-->
<!--   <div class="blog_sec">
    <h3 class="tittle-w3ls">Latest Blogs</h3>
    <div class="col-md-6 banner-btm-left">
      <div class="banner-btm-top">
        <div class="banner-btm-inner a1">
          <div class="blog_date">

            <h4>Jan.05.2018</h4>

          </div>
          <h6><a href="single.html">Strategic Planning</a></h6>
          <p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
          <div class="clearfix"></div>
          <a href="single.html" class="blog-btn">Know More</a>
        </div>
        <div class="banner-btm-inner a2">

        </div>
      </div>
      <div class="banner-btm-bottom">
        <div class="banner-btm-inner a3">

        </div>
        <div class="banner-btm-inner a4">
          <div class="blog_date">

            <h4>Jan.08.2018</h4>

          </div>
          <h6><a href="single.html">Strategic Planning</a></h6>
          <p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
          <div class="clearfix"></div>
          <a href="single.html" class="blog-btn">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 banner-btm-left">
      <div class="banner-btm-top">
        <div class="banner-btm-inner a1">
          <div class="blog_date">

            <h4>Jan.25.2018</h4>

          </div>
          <h6><a href="single.html">Strategic Planning</a></h6>
          <p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
          <div class="clearfix"></div>
          <a href="single.html" class="blog-btn">Know More</a>
        </div>
        <div class="banner-btm-inner a5">

        </div>
      </div>
      <div class="banner-btm-bottom">
        <div class="banner-btm-inner a6">

        </div>
        <div class="banner-btm-inner a4">
          <div class="blog_date">

            <h4>Jan.05.2018</h4>

          </div>
          <h6><a href="single.html">Strategic Planning</a></h6>
          <p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
          <div class="clearfix"></div>
          <a href="single.html" class="blog-btn">Know More</a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div> -->

  <!--//blog-->

  <!--/testimonials-->
  <div class="tesimonials">
    <div class="container">
      <h3 class="tittle-w3ls cen"><%= t('view.casestudy') %></h3>
      <div class="inner_sec">
        <div class="test_grid_sec">
          <div class="col-md-offset-2 col-md-8">
            <div class="carousel slide two" data-ride="carousel" id="quote-carousel">
              <!-- Bottom Carousel Indicators -->
              <ol class="carousel-indicators two">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
                <li data-target="#quote-carousel" data-slide-to="2"></li>
              </ol>

              <!-- Carousel Slides / Quotes -->
              <div class="carousel-inner">

                <!-- Quote 1 -->
                <div class="item active">
                  <blockquote>
                    <div class="test_grid">
                      <div class="col-sm-3 text-center test_img">
                        <img src="assets/t1.jpg" class="img-responsive" alt="">

                      </div>
                      <div class="col-sm-9 test_img_info">
                        <p><%= t('view.case1p') %></p>
                        <h6><%= t('view.case1h6') %></h6>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                  <blockquote>
                    <div class="test_grid">
                      <div class="col-sm-3 text-center test_img">
                        <img src="assets/t2.jpg" class="img-responsive" alt="">
                      </div>
                      <div class="col-sm-9 test_img_info">
                        <p><%= t('view.case2p') %></p>
                        <h6><%= t('view.case2h6') %></h6>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                  <blockquote>
                    <div class="test_grid">
                      <div class="col-sm-3 text-center test_img">
                        <img src="assets/t3.jpg" class="img-responsive" alt="">
                      </div>
                      <div class="col-sm-9 test_img_info">
                        <p><%= t('view.case3p') %></p>
                        <h6><%= t('view.case3h6') %></h6>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//testimonials-->

  <!--/bottom-->
  <div class="banner_bottom">
    <div class="container">
      <h3 class="tittle-w3ls"><%= t('view.coverage') %></h3>
      <div class="inner_sec_info_wthree_agile">
        <div class="help_full">

          <div class="col-md-6 banner_bottom_left">
            <h4><%= t('view.coverageh4') %> </h4>
            <p><%= t('view.coveragep') %></p>
            <div class="ab_button">
              <%= link_to t('view.contactus'), url_for(controller: :inquiry, action: :contact), :class => 'btn btn-primary btn-lg hvr-underline-from-left' %>
            </div>


          </div>

          <div class="col-md-6 banner_bottom_grid help">
            <img src="assets/banner_mid.jpg" alt=" " class="img-responsive">
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <!--//bottom-->

  <!-- /newsletter-->
<!--   <div class="newsletter_w3ls_agileits">
    <div class="col-sm-6 newsleft">
      <h3>Sign up for Newsletter !</h3>
    </div>
    <div class="col-sm-6 newsright">
      <form action="#" method="post">
        <input type="email" placeholder="Enter your email..." name="email" required="">
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="clearfix"></div>
  </div> -->
  <!-- //newsletter-->
  <%= render 'partial/footer' %>

  <script type="text/javascript" src="assets/jquery-2.2.3.min.js"></script>
  <!-- boostrap.js moved to the last to make toggle down work -->
  <script>
    $('ul .dropdown-menu li').hover(function () {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
  </script>

  <!-- js -->
  <!-- Smooth-Scrolling-JavaScript -->
  <script type="text/javascript" src="assets/easing.js"></script>
  <!-- <script type="text/javascript" src="assets/move-top.js"></script> no such file -->
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".scroll").click(function (event) {
        $('html,body').animate({
          scrollTop: $(this.hash).offset().top
        }, 1000);
      });
    });
  </script>
  <!-- took out ", .navbar li a, .footer li a" from after .scroll in the above script -->
  <!-- //Smooth-Scrolling-JavaScript -->
<!--  dunno what this is doing and this gave an error <script type="text/javascript">
    $(document).ready(function () {
      /*
                  var defaults = {
                      containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear' 
                  };
                  */

      $().UItoTop({
        easingType: 'easeOutQuart'
      });

    });
  </script> -->
  <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
  <!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
  <script type="text/javascript" src="assets/jquery-1.7.2.js"></script>
  <script src="assets/jquery.quicksand.js" type="text/javascript"></script>
  <script src="assets/script.js" type="text/javascript"></script>
  <script src="assets/jquery.prettyPhoto.js" type="text/javascript"></script>
  <!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->
  <script type="text/javascript" src="assets/bootstrap.js"></script>

</body>

</html>